body {
    background-color: #333;
    color: #dcdcde;
}

header {
    margin: -10px;
    background-color: #333;
    color: white;
    padding: 10px 0 17px 0;
    border-bottom: 1.5px solid #dcdcde;
}

header nav p{
    margin: 0;
    display: inline;
    color: #727db3;
    font-size: 15px;
    padding: 0 50% 5px 10%;
    font-family: Sans-Serif;
    position: relative;
}

header nav ul {
    display: inline-block;
    margin: 5px;
}

header nav ul li {
    display: inline-block;
    padding: 15px 45px 5px 0;
    color: #727db3;
    font-family: sans-serif;
}

header nav ul li a{
    color: #727db3;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

header nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #727db3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

header nav ul li a:hover::after{
    width: 100%;
}

footer {
    margin: 70px -10px;
    padding: 50px 0 20px 30px;
    border-top: 1.5px solid #666;
    color: #dcdcde;
}

footer .right {
    padding: 15px 50px 0 0;
    position: relative;
    font-size: 13px;
    text-align: right;
}

.name {
    margin: 0;
    padding: 80px 0 10px 80px;
    font-size: 30px;
}

.phone {
    margin: 0 1500px 0 0;
    padding: 0 0 0 200px;
    position: relative;
    display: inline-flex;
}

.phone .number{
    margin: 0 1500px 0 0;
    padding: 10px 0 0 300px;
}

.email {
    padding: 0 0 0 200px;
    display: inline-flex;
}

.email h2 h3 {
    padding: 5px 0 0 1500px;
}

.address {
    padding: 0 0 0 200px;
}